_eumjeol.tmp
Sejong_POS.133.txt
Sejong_POS.133_eval.txt
Sejong_POS.133_training.txt
train.data
train2.data
_eumjeol_s1.txt
50000.data
_eumjeol.gld
tmp.data
test_file.data
temp.txt!_eumjeol.tmp
temp.txt
temp.txt!
tmp.gld
test_file.data
40000train.dat_eumjeol.tmp
*.tmp
*.gld
*.txt
*.dat
*.data
*.
umum
*.um
*.sentense
./data
/data
__pycache__
./model
